<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="/resource/loading.css" />
    <title><%= appName %></title>
  </head>
  <body>
    <div id="app">
        <div class="loading-container">
            <div id="loadingLogo" class="loading-svg"></div>
            <div class="loading-spin__container">
                <div class="loading-spin">
                  <div class="left-0 top-0 loading-spin-item"></div>
                  <div class="left-0 bottom-0 loading-spin-item loading-delay-500"></div>
                  <div class="right-0 top-0 loading-spin-item loading-delay-1000"></div>
                  <div class="right-0 bottom-0 loading-spin-item loading-delay-1500"></div>
                </div>
              </div>
              <div class="loading-title"><%= appTitle %></div>
        </div>
    </div>
    <!-- <script src="/src/assets/plugin//js/morphSVGPlugin3.min.js"></script> -->
    <script src="/resource/loading.js"></script>
    <script type="module" src="/src/main.ts"></script>
    <!-- built files will be auto injected -->
  </body>
</html>
