/**简便 小三角 支持上下左右 默认下*/
.clip-triangle{
	width: 14px;
	height: 6px;
	-webkit-clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
	&.bottom{
		-webkit-clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
		clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
	}
	// &.right{
	// 	-webkit-clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
	// 	clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
	// }
	// &.left{
	// 	-webkit-clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
	// 	clip-path: polygon(100% 0%, 50% 100%, 0% 0%);
	// }
}
.vip124{
	color: aliceblue;
}
