@use './variables.scss' as *;
.bg-primary{
    background-color: var(--kaya-bg-primary);
}
.bg-primary-Gradient{
    background-image: linear-gradient(120deg, var(--kaya-bg-primary) 0%, var(--kaya-bg-mix) 100%);
}
.bg-primary-Gradient-herder{
    background-image: linear-gradient(9deg, var(--kaya-bg-primary) 0%, var(--kaya-bg-mix) 100%);
}
.blue-gradient{
    background-image: $blue-gradient;
}
.theme-text{
	color: var(--color-primary-text);
}
/**白色/黑色*/ //文案
.kaya-text{
    color: var(--kaya-text)
}
//灰色  文案
.kaya-gray{
    color: var(--kaya-gray)
}
//黑色/白色 文案
.kaya-black{
    color: var(--kaya-black)
}
// 商品价目 文案
.color-price{
    color: var(--color-price);
}
//白色 / 黑色 背景底 在暗黑模式下 分块颜色
.kaya-bg{
    background: var(--kaya-bg);
}
