
:root, [data-theme="default"] {
    /* color contrasts */
    --color-bg:#fff;
    --color-text: rgb(108, 113, 149);
    --color-gray: #777;
    --color-black: #333;
    /** 商品价格主颜色*/
    --color-price:#d06667;

    --color-bg-primary:var(--van-primary-color);
    --color-contrast-lower: hsl(0, 0%, 95%);
    --color-contrast-low: hsl(240, 1%, 83%);
    --color-contrast-medium: hsl(240, 1%, 48%);
    --color-contrast-high: hsl(240, 4%, 20%);
    --color-shadow:hsl(240, 6%, 70%);
    --color-contrast-higher: black;
    --color-bg-mix:var(--van-primary-dark-color);
    --color-primary-text:var(--van-primary-light-color);
    
  }
  
  [data-theme="dark"] {
    /* color contrasts */
    --color-bg:#333;
    --color-bg-primary:black;
    --color-text: #fff;
    --color-gray: #c2c0c0;
    --color-black: #fff;

    /** 商品价格主颜色*/
    --color-price:#d06667;

    --color-contrast-lower: hsl(240, 6%, 15%);
    --color-contrast-low: hsl(252, 4%, 25%);
    --color-contrast-medium: hsl(240, 1%, 57%);
    --color-contrast-high: hsl(0, 0%, 89%);
    --color-shadow:hsl(0, 0%, 100%);
    --color-contrast-higher: white;
    --color-bg-mix: black;
    --color-primary-text:var(--van-primary-dark-color);
}